body{
    background-color: rgb(239, 214, 164);
    background-image: url(tundrabackground.jpg);
    background-blend-mode: lighten;
}

.content{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    color: rgb(85, 43, 17);
}

.title
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: rgb(121, 46, 18);
}

#home{
    color: hotpink;
}

#contact{
    color: darksalmon;
}

a:hover{
    text-decoration: double;
}

a{
    text-decoration: none;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 800;
}